html{
    scroll-behavior: smooth;
}

a{
    text-decoration-line: none;
    color: inherit;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    color: white;
    background-color: beige;
}

.home{
    font-size: 24px;
    font-weight: 400;
}

.black__ground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    z-index: 1;
    background-color: black;
}

.home::after{
    content: " - Design Digital";
    font-size: 18px;
    font-weight: 200;
}

.home__section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-image: url("../assets/background.avif");
    filter: opacity(30%);
}

.logo{
    width: 128px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    gap: 30%;
    position: absolute;
    z-index: 3;
    padding: 30px 0 30px;
}

.topmenu a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    margin: auto;
    transition: 0.3s;
}

.topmenu a:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.topmenu{
    list-style: none;
    gap: 30px;
    font-size: 15px;
    font-weight: 400;
}

.home__section{
    height: 100%;
    position: relative;
    z-index: 2;
}

h2{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.home__section .block{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    align-items: center;
    height: 95vh;
}

.home__paragraph{
    background-color: rgba(17, 71, 172, 0.753);
    padding: 15px;
    width: 650px;
    margin: 20px;
    font-size: 15px;
    line-height: 1.6;
    border-radius: 10px;
    text-align: justify;
}

.home__buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.home__buttons a{
    background-color: rgba(0, 0, 0, 0.562);
    padding: 12px 26px;
    display: inline-block;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border: solid 1px rgba(197, 197, 197, 0.459);
    border-radius: 10px;
    transition: 0.3s;
}

.home__buttons .first{
    background-color: #F8E600;
    color: black;
}

.home__buttons .first:hover{
    background-color: white;
    transition: 0.3s;
}

.home__buttons .second:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.socialmedia{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 75%;
    position: relative;
    z-index: 3;
    top: -20px;
}

.socialmedia a{
    width: 54px;
    height: 54px;
    margin: 0;
    background-color: white;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.socialmedia a:hover{
    transition: 0.3s;
    background-color: #F8E600;
}

.socialmedia img{
    width: 24px;
    height: 24px;
}

.paragraphs ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-gap: 50px;
    grid-row-gap: 30px;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
    align-items: center;
}

.paragraphs::before{
    content: "";
    background-image: url(../assets/background-decoration.png);
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: -10rem;
    height: 100%;
    width: 100%;
    z-index: -5;
    opacity: 50%;
}

.paragraphs li{
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    width: 320px;
    height: 550px;
    background-color: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.26);
    margin: auto;
    border-radius: 10px;
    gap: 10px;
}

.container{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.container img{
    width: 100%;
}

h3{
    text-transform: uppercase;
    margin: 0 15px;
}

footer{
    background-color: rgb(22, 37, 37);
    padding: 30px;
    text-align: center;
    position: relative;
    z-index: -4;
}

.paragraphs a{
    text-align: right;
    position: absolute;
    background-color: rgba(17, 71, 172, 0.753);
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    right: 15px;
    bottom: 15px;
    transition: 0.3s;
}

.paragraphs a:hover{
    background-color: black;
}

.paragraphs p{
    margin: 0 15px;
}

.contact {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.562);
    padding: 60px 130px;
    display: flex;
    gap: 100px;
    justify-content: center;
    position: relative;
}

.contact h2{
    text-align: left;
    font-weight: 800;
    font-size: 28px;
    text-transform: none;
    font-weight: 600;
}

.contact h3{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-left: 0;
}

.contact__fields{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact__fields input,.contact__fields button,.contact__fields .message{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    border: none;
    background-color: #00000021;
}

.contact__fields .message{
    resize: none;
    padding-top: 10px;
    width: 600px;
    height: 250px;
}

.contact__presentation{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.contact__fields button{
    background-color: #2D6FE9;
    color: white;
    font-weight: 800;
    width: 100px;
}

.icone_topo{
    background-image: url(../assets/return-to-top.svg);
    background-color: black;
    background-position: center;
    height: 38px;
    width: 38px;
    box-sizing: border-box;
    position: fixed;
    right: 32px;
    bottom: 40px;
    z-index: 0;
    border-radius: 24px;
    filter: invert(100%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.562);
}
